<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1>
    {{ shop.shop_name }} | Delete Menu Item | {{ item.name }}
</h1>
<form action="{{url_for('website.delete_shop_item', shop_id=shop.id, item_id=item.id)}}" method="post">
    <input type="submit" value="Delete | حذف">
    <a href="{{url_for('website.get_shop_items', shop_id=shop.id)}}">Cancel</a>
</form>

</body>
</html>