{% include 'header.html' %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Edit " {{item.name}} "</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>{{item.name}}
                            <small>{{item.description}}</small>
                        </h3>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>

                        <form action="{{url_for('website.edit_shop_item', agent_id=agent.id, item_id=item.id)}}"
                              method="post" enctype=multipart/form-data class="form-horizontal form-label-left">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name</label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="name" name="name"
                                           class="form-control col-md-7 col-xs-12" placeholder="{{item.name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">
                                    Description</label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="description" name="description"
                                           class="form-control col-md-7 col-xs-12"
                                           placeholder="{{item.description}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="price">Price
                                </label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="price" name="price" class="form-control col-md-7 col-xs-12"
                                           type="text" placeholder="{{item.price}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="quantity">Quantity
                                </label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="quantity" name="quantity" class="form-control col-md-7 col-xs-12"
                                           type="text" placeholder="{{item.quantity}}">
                                </div>
                            </div>

                            <!--<div class="form-group">-->
                            <!--<img class="col-md-6 col-sm-6 col-xs-12"-->
                            <!--src="http://bubble.zeowls.com/uploads/{shop.shop_profile_pic}}">-->
                            <!--<a class="btn btn-primary"-->
                            <!--href="{url_for('website.edit_shop_image', shop_id=shop.id)}}">Change</a>-->
                            <!--</div>-->
                            <div class="form-group">
                                <img class="control-label col-md-3 col-sm-3 col-xs-12"
                                     style="width:128px;height:128px;"
                                     src="http://bubble.zeowls.com/uploads/{{item.main_image}}">

                            </div>
                            <div class="form-group">
                                <a class="btn btn-primary"
                                   href="{{url_for('website.edit_item_image', agent_id=agent.id, item_id=item.id)}}">Change</a>
                            </div>
                            <!--<div class="form-group">-->
                            <!--<label class="control-label col-md-3 col-sm-3 col-xs-12" for="price">Price-->
                            <!--</label>-->

                            <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                            <!--<input id="image" name="image" class="form-control col-md-7 col-xs-12"-->
                            <!--type="text" placeholder="{{item.image}}">-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="category">
                                    Category
                                </label>

                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <select class="select2_single form-control" tabindex="-1"
                                            id="category" name="cat_id">
                                        {% for main in main_cats %}
                                        <optgroup label="{{main.name}}">
                                            <!--{ for cat in sub_cat[main.id] %}-->
                                            {% if main.id == item.id_category %}
                                            <option selected="selected" value="{{main.id}}">{{main.name}}
                                            </option>
                                            {% else %}
                                            <option value="{{main.id}}">{{main.name}}</option>
                                            {% endif %}
                                            <!--{ endfor %}-->
                                        </optgroup>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <a href="{{url_for('website.get_items', agent_id=agent.id)}}"
                                       class="btn btn-primary">Cancel</a>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
