<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1>
    {{ agent.first_name }} | New Item
</h1>

<form action="{{url_for('website.new_item', agent_id=agent.id)}}" method="post" enctype=multipart/form-data>

    <p>Name | الإسم</p>
    <input type="text" required="required" size="30" name="name">

    <p>Description | الوصف</p>
    <input type="text" required="required" size="30" name="description">

    <p>Price | السعر</p>
    <input type="text" required="required" size="30" name="price">

    <p>Quantity | الكمية</p>
    <input type="text" required="required" size="30" name="quantity">

    <p>Photo | صورة</p>
    <input type="text" name="profile_pic" required="required">

    <p>Category | الفئة</p>
    <select name="cat_id" required="required">
        <option value="" disabled="disabled" selected="selected">Please select a Category</option>
        {% for main in main_cats %}
        <option value="{{main.id}}">{{main.name}}</option>
        {% endfor %}
    </select>

    <!--<p>Category | الفئة</p>-->
    <!--<select name="cat_id" required="required">-->
        <!--<option value="" disabled="disabled" selected="selected">Please select a Category</option>-->
        <!--<option value="" disabled="disabled">Clothing | ملابس</option>-->
        <!--<option value="3">Children | أطفال</option>-->
        <!--<option value="1">Crocheting | حياكة</option>-->
        <!--<option value="12">Knitting | نسيج</option>-->
        <!--<option value="" disabled="disabled">Crafts | حرف</option>-->
        <!--<option value="2">Floral Craft | زهريات</option>-->
        <!--<option value="8">Leather Craft | جلديات</option>-->
        <!--<option value="9">Woodworking | أعمال خشبية</option>-->
        <!--<option value="" disabled="disabled">Home | منزلية</option>-->
        <!--<option value="4">Decor | ديكور</option>-->
        <!--<option value="5">Lighting | إضاءة</option>-->
        <!--<option value="7">Kitchen | مطبخ</option>-->
        <!--<option value="" disabled="disabled">Accessory | إكسسوارات</option>-->
        <!--<option value="6">Rings | خواتم</option>-->
        <!--<option value="10">Necklaces | سلاسل</option>-->
        <!--<option value="11">Earrings | الأقراط</option>-->
        <!--<option value="13">Bracelets | أساور</option>-->
        <!--<option value="" disabled="disabled">Artwork | أعمال فنية</option>-->
        <!--<option value="14">Drawing | رسم</option>-->
        <!--<option value="15">Glass Art | زجاج</option>-->
        <!--<option value="16">Photography | تصوير</option>-->
    <!--</select>-->
    <input type="submit" value="Create | إنشاء">

</form>

<iframe src="http://bubble.zeowls.com/upload.php"></iframe>

</body>
</html>