<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>

<h1>
    {{ order.item.shop.shop_name }} | New Shop Item | منتج جديد
</h1>

<form action="{{url_for('admin.edit_order_by_id', order_id=order.id)}}" method="post"
      enctype=multipart/form-data>

    <p>Name | الإسم: {{order.item.name}}</p>
    <!--<input type="text" size="30" name="name" placeholder="{{order.item.name}}">-->

    <p>Description | الوصف  : {{order.item.description}}</p>
    <!--<input type="text" size="30" name="description" placeholder="{{order.item.description}}">-->

    <p>Price | السعر  : {{order.item.price}}</p>
    <!--<input type="text" size="30" name="price" placeholder="{{order.item.price}}">-->

    <p>Quantity | الكمية</p>
    <input type="text" size="30" name="quantity" placeholder="{{order.quantity}}">

    <p>Shipping Address | الكمية</p>
    <input type="text" size="30" name="shipping_address" placeholder="{{order.shipping_address}}">

    <input type="submit" class="btn btn-primary btn-block btn-large" value="Edit | تعديل">
    <a href="{{url_for('website.get_shop_orders', shop_id=order.item.shop.id)}}" class="btn btn-primary btn-block btn-large">Cancel</a>
</form>

<iframe src="http://bubble.zeowls.com/upload.php"></iframe>
</body>
</html>