{% include 'header.html' %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Add Stock</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <!-- Smart Wizard -->
                        <p>Adding a new product is a fun task to do please complete these steps ;)</p>

                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul class=flashes>
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                        <div id="wizard" class="form_wizard wizard_verticle">

                            <form action="{{url_for('website.add_stock')}}"
                                  method="post" enctype=multipart/form-data class="form-horizontal form-label-left">
                                <div id="step-1">

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="com_id">
                                            Company <span class="required">*</span>
                                        </label>

                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <select class="select2_single form-control" tabindex="-1"
                                                    name="com_id" id="com_id" required="required">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Type <span class="required">*</span>
                                        </label>

                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <select class="select2_single form-control" tabindex="-1"
                                                    name="type" id="type" required="required">
                                                <option value="0">Stock</option>
                                                <option value="1">Bond</option>
                                            </select>
                                        </div>
                                    </div>

                                     <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Init Value <span class="required">*</span>
                                        </label>

                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input name="init_value" type="text" class="form-control"
                                                   placeholder="120" required="required">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Current Value <span class="required">*</span>
                                        </label>

                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input name="current_value" type="text" class="form-control"
                                                   placeholder="12.0" required="required">
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <a href="{{url_for('website.get_values')}}"
                                           class="btn btn-primary">Cancel</a>
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>

                            </form>

                        </div>

                    </div>
                    <!-- End SmartWizard Content -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- jQuery -->
<script src="{{url_for('static', filename='vendors/jquery/dist/jquery.min.js')}}"></script>
<!-- Bootstrap -->
<script src="{{url_for('static', filename='vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<!-- jQuery Tags Input -->
<script src="{{url_for('static', filename='vendors/jquery.tagsinput/src/jquery.tagsinput.js')}}"></script>
<!-- Switchery -->
<script src="{{url_for('static', filename='vendors/switchery/dist/switchery.min.js')}}"></script>
<!-- Select2 -->
<script src="{{url_for('static', filename='vendors/select2/dist/js/select2.full.min.js')}}"></script>
<!-- Custom Theme Scripts -->
<script src="{{url_for('static', filename='build/js/custom.min.js')}}"></script>
<!-- FastClick -->
<script src="{{url_for('static', filename='vendors/fastclick/lib/fastclick.js')}}"></script>
<!-- NProgress -->
<script src="{{url_for('static', filename='vendors/nprogress/nprogress.js')}}"></script>
<!-- bootstrap-progressbar -->
<script src="{{url_for('static', filename='vendors/bootstrap-progressbar/bootstrap-progressbar.min.js')}}"></script>
<!-- iCheck -->
<script src="{{url_for('static', filename='vendors/iCheck/icheck.min.js')}}"></script>
<!-- PNotify -->
<script src="{{url_for('static', filename='vendors/pnotify/dist/pnotify.js')}}"></script>
<script src="{{url_for('static', filename='vendors/pnotify/dist/pnotify.buttons.js')}}"></script>
<script src="{{url_for('static', filename='vendors/pnotify/dist/pnotify.nonblock.js')}}"></script>
<!-- Select2 -->
<!-- Bootstrap Colorpicker -->
<script src="{{url_for('static', filename='vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js')}}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{{url_for('static', filename='js/moment/moment.min.js')}}"></script>
<script src="{{url_for('static', filename='js/datepicker/daterangepicker.js')}}"></script>
<script src="{{url_for('static', filename='vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js')}}"></script>

<script>
    $(document).ready(function () {
        $("#com_id").select2({
            ajax: {
                url: "{{ url_for('website.select_companies_data') }}",
                dataType: 'json',
                type: "GET",
                quietMillis: 50,
                data: function (term) {
                    console.log(term);
                    return {
                        term: term
                    };
                },
                processResults: function (data) {
                    console.log(data);
                    return {
                        results: $.map(data, function (item) {
                            console.log(item);
                            return {
                                text: item.name,
                                id: item.id
                            }
                        })
                    };
                }
            }
        });

        $(document.body).on("change", ".select2_single", function () {

        });
    });
</script>
<!-- /Select2 -->

</body>
</html>
