</div>
</div>

<!-- jQuery -->
<script src="{{url_for('static', filename='vendors/jquery/dist/jquery.min.js')}}"></script>
<!-- Bootstrap -->
<script src="{{url_for('static', filename='vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<!-- jQuery Tags Input -->
<script src="{{url_for('static', filename='vendors/jquery.tagsinput/src/jquery.tagsinput.js')}}"></script>
<!-- Switchery -->
<script src="{{url_for('static', filename='vendors/switchery/dist/switchery.min.js')}}"></script>
<!-- Select2 -->
<script src="{{url_for('static', filename='vendors/select2/dist/js/select2.full.min.js')}}"></script>
<!-- Custom Theme Scripts -->
<script src="{{url_for('static', filename='build/js/custom.min.js')}}"></script>
<!-- FastClick -->
<script src="{{url_for('static', filename='vendors/fastclick/lib/fastclick.js')}}"></script>
<!-- NProgress -->
<script src="{{url_for('static', filename='vendors/nprogress/nprogress.js')}}"></script>
<!-- bootstrap-progressbar -->
<script src="{{url_for('static', filename='vendors/bootstrap-progressbar/bootstrap-progressbar.min.js')}}"></script>
<!-- iCheck -->
<script src="{{url_for('static', filename='vendors/iCheck/icheck.min.js')}}"></script>
<!-- PNotify -->
<script src="{{url_for('static', filename='vendors/pnotify/dist/pnotify.js')}}"></script>
<script src="{{url_for('static', filename='vendors/pnotify/dist/pnotify.buttons.js')}}"></script>
<script src="{{url_for('static', filename='vendors/pnotify/dist/pnotify.nonblock.js')}}"></script>

<!-- Select2 -->
<script>
    $(document).ready(function () {
        $(".select2_single").select2({
            placeholder: "Select a state"
        });
    });
</script>
<!-- /Select2 -->
</body>
</html>
