<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1>
    New Sub ( {{ cat.name }} )
</h1>

<form action="{{url_for('new_sub_category', cat_id=cat.id)}}" method="post" >

    <p>Name</p>
    <input type="text" size="30" name="name">

    <input type="submit" value="Create">
    <a href="{{url_for('get_sub_categories')}}">Cancel</a>
</form>

</body>
</html>